.venv/
.DS_Store
__pycache/
outputs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environnements
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Fichiers de données
data/processed/
*.parquet
*.log
*.csv
*.xlsx
*.db
*.sqlite
*.sqlite3

# Fichiers système
.DS_Store
Thumbs.db
desktop.ini

# Fichiers de configuration secrets
*.pem
*.key
*.p12
*.crt
*.cert
*.cer
